* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 15px sans-serif;
    color: #555;
    letter-spacing: 2px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #d5d0cd;
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    font-size: 14px;
    position: relative;
    margin: 0 14px 0 0;
    display: inline-block;
}

nav ul li a {
    padding: 20px;
    display: inline-block;
    color: #393939;
    text-decoration: none;
}

nav ul li:hover {
    background: #37bc9b;
    border-radius: 5px 5px 0px 0px;
}

nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background: #37bc9b;
    border-radius: 0px 5px 5px 5px;
}

nav ul li ul li:active {
    background: #37bc9b;
}

nav ul li ul li {
    margin: 0px -5px -5px 0px;
    color: white;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

nav ul li ul li a {
    color: white;
    font-size: 11px;
    text-shadow: 1px 1px black;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li:hover {
    background-color: #019966;
}

nav ul li ul li a:hover {
    background-color: #019966;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

/*Header Section*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 1px 10px;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #383838;
    background-color: #fff;
    border-bottom: 7px #34cc99 solid;
}

h2 a {
    text-decoration: none;
    color: #383838;
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.hero h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 120px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 1px 1px black;
}

#example2 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    padding: 15px;
    opacity: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    animation: 1s slidefade 1s forwards;
    
}

.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
    text-shadow: 1px 1px black;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/*Hero Section*/

.hero {
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}


.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
    
}

@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    header h2 a {
        margin-bottom: 15px;
    }

    h2 a {
        margin-left: 0px;
    }

    .hero {
        height: 100vh;

    }

    .hero h1 {
        font-size: 70px;
    }

    nav ul li a {
        padding: 2px;
    }

    nav ul li ul li {
        display: none;
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    11.11% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    44.44% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.fadein {
    position: relative;
    height: 332px;
    width: 500px;
    outline: 1px solid blue;
    z-index: -1;
}

.fadein img {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    animation-name: fade;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    height: 332px;
    width: 500px;
}

.fadein img:nth-child(1) {
    animation-delay: 0s;
}

.fadein img:nth-child(2) {
    animation-delay: 3s;
}

.fadein img:nth-child(3) {
    animation-delay: 6s;
}

.fadein img:nth-child(4) {
    animation-delay: 9s;
}

.fadein img:nth-child(5) {
    animation-delay: 12s;
}

/*grid Section*/
.grid {
    z-index: -1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
    list-style-type: none;

}

.packages .grid li i {
    color: #34cc99;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;

}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}

/*Testimonials Section*/

.testimonials .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

@media (max-width: 800px) {
    .testimonials .quote {
        font-size: 18px;
        margin: 15px 0;
    }

    .testimonials .author {
        font-size: 14px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

/*card section */

.card {
    z-index: -2;
    width: 30.3333333333%;
    margin: 1%;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    transition: .3s all;
    box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
    text-align: center;
}

@media screen and (max-width: 1240px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 820px) {
    .card {
        width: 98%;
        margin-top: 2%;
        margin-bottom: 2%;

    }

    .card .button {
        left: 35%;
    }
}

.card:hover {
    transform: scale(1.05);
}

h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    margin-bottom: 60px;
}


.button {
    position: absolute;
    left: 30%;
    bottom: 30px;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, .2);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10000px;
    transition: .3s all;
}

button:hover {
    background: rgba(255, 255, 255, .8);
    color: #2e2e2e;
}

.pad-top {
    padding-top: 20px;
}

.card-green {
    background: #37bc9b;
    color: white;
}

.card-yellow {
    background: #d5d0cd;
    color: white;
}

.card-blue-dark {
    background: #66b2d6;
    color: white;
}



/*Footer Section*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    color: #393939;
    padding: 20px 0;
    flex-direction: column;

}

footer ul {
    display: flex;
    list-style-type: none;
}

footer ul li {
    margin-left: 16px;

}

footer ul li a {
    margin-left: 16px;
    text-decoration: none;

}

#snap {
    color: #FFFC00;
}

#facebook {
    color: #4267B2;
}

#twitter {
    color: #1DA1F2;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}